:root {
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}
.main-navbar:hover {
  background: hsl(207, 61%, 48%) !important;
}

.brand-heading {
  font-weight: 800;
  letter-spacing: -2px;
}

.page-heading {
  font-weight: 800;
  letter-spacing: -2px;
}

/********ADD Club********/
#search-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

#results {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

#search-results {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  height: 250px;
  font-family: monospace;
}

#map {
  width: 85%;
  height: 300px;
  border: 1px solid #ccc;
}

#textarea,
#place-name,
#place-county,
#place-phone,
#place-website,
#place-lat,
#place-lng {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

/********ADMIN********/
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 500;
  color: #8F99A3;
}
