{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="about"}}
  {{else}}
    {{>  menu active="about"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="about"}}
{{/if}}


<section class="section page-margin">
  <h1 class="title page-heading is-2 is-uppercase mb-3">About </h1>
  <h1> Hello from RugbyGamePOI </h1>
</section>
