{{!-- {{#if UserLoggedIn}}
  {{> menu active="about"}}
{{else}}
  {{>  welcome-menu active="about"}}
{{/if}} --}}

{{!-- {{> menu active="about"}} --}}
{{>  welcome-menu active="about"}}
<section class="section">
  <h1> Hello from RugbyGamePOI </h1>
</section>
