{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="admin"}}
  {{else}}
    {{>  menu active="admin"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="admin"}}
{{/if}}

<section class="section page-margin">
  <div class="title page-heading is-uppercase is-1">User Admin</div>

  {{>list-users}}
</section>
