{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="admin"}}
  {{else}}
    {{>  menu active="admin"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="admin"}}
{{/if}}

<section class="section">
  <div class="title page-heading is-1">Admin Page </div>

  {{>list-users}}
</section>
