{{#if superAdmin}}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{>  menu active="dashboard"}}
{{/if}}

<section class="section">
  <div class="title page-heading is-3">
    {{club.club}} Club Games 
  </div>
  {{> list-games}}
  {{> add-game}}

</section>