{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="clubs"}}
  {{else}}
    {{>  menu active="clubs"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="clubs"}}
{{/if}}

<section class="section pt-4">
  <h1 class="title page-heading is-2 is-uppercase mb-3">Clubs List</h1>
 <div class="buttons">
    <a class="button" href="/clubs">ALL</a>
    <a class="button" href="/clubs/junior">JUNIOR</a>
    <a class="button" href="/clubs/senior">SENIOR</a>
  </div>

  {{> results }}