{{#if superAdmin}}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{>  menu active="dashboard"}}
{{/if}}

<section class="section page-margin pt-6">
  <div class="title page-heading is-2 is-uppercase mb-3">
    {{club.club}} Club Games 
  </div>
  {{> list-games}}
  {{> add-game}}
</section>