{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="clubs"}}
  {{else}}
    {{>  menu active="clubs"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="clubs"}}
{{/if}}

<section class="section">
  <h1 class="title is-3">Clubs</h1>
  <p class="subtitle is-4">Filter by category:</p>
  <div class="buttons">
    <a class="button" href="/clubs">ALL</a>
    <a class="button" href="/clubs/junior">JUNIOR</a>
    <a class="button" href="/clubs/senior">SENIOR</a>
  </div>

  {{> results }}
</section>