{{#if superAdmin}}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{>  menu active="dashboard"}}
{{/if}}

<section class="section">
  <div class="title">
    {{county.county}}
  </div>
  {{> list-clubs}}
  {{> add-club}}

</section>