{{#if superAdmin}}
  {{> admin-menu active="dashboard"}}
{{else}}
  {{>  menu active="dashboard"}}
{{/if}}

<section class="section">
  <h1 class="title page-heading is-3">Club Details</h1>
  {{> list-clubs}}
  {{> add-club}}
</section>
