{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in to RugbyClubPOI... </h>
    <a href="/signup" class="button is-primary">Sign up</a>
  </div>
  <div class="column">
    <img src="/images/cloud-img.jpg">
  </div>
</div>
