{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="home"}}
  {{else}}
    {{>  menu active="home"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="home"}}
{{/if}}

{{!-- <div class="columns is-vcentered "> --}}
  {{!-- <div class="column has-text-centered">
    <h> Sign up or Log in to RugbyGamePOI... </h>
    <a href="/signup" class="button is-primary">Sign up</a>
  </div> --}}


  {{!-- <div class="column has-text-centered">
    <img src="/images/poi.jfif" style="height: 560px;">
  </div> --}}
   <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
  <section class="hero home-page is-default is-bold mt-0">        
  <div class="hero-body mt-6">
            <div class="container has-text-centered mt-6">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="/images/poi.jfif" alt="Rugby Club POI">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        
                        <h1 class="title page-heading is-1 is-uppercase mb-3 pb-5">
                            RugbyClubPOI
                        </h1>
                        <h2 class="subtitle is-4">
                            The RugbyClub Point of Interest app provides users with information and details regarding various noteworthy locations, events, and activities associated with rugby clubs, enhancing their experience and engagement within the rugby community.
                        </h2>
                        <p class="has-text-centered">
                            <a class="button is-large is-outlined pr-6 pl-6">
                                About  
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
<div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li>
                         <large>
                            <span class="has-text-grey">Copyright 2024 &copy;</span><span
                                class="has-text-grey has-text-weight-bold is-uppercase">RugbyClubPOI</span>
                        </large>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{{!-- </div> --}}
