{{#if UserLoggedIn}}
  {{#if superAdmin}}
    {{> admin-menu active="signup"}}
  {{else}}
    {{>  menu active="signup"}}
  {{/if}}
{{else}}
  {{>  welcome-menu active="signup"}}
{{/if}}

<section class="section page-margin"> 
  {{#if CreateSuperAdmin}}
    <div class="notification is-danger">
      <button class="delete"></button> No SuperAdmin Account: Please Create one now.
    </div>
  {{/if}}
  <h1 class="title page-heading is-2 is-uppercase mb-3">Sign up </h1>
  {{!-- <div class="notification is-danger">
    <button class="delete"></button> Invalid email or password
  </div> --}}
  <form action="/register" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>    
    <input type="hidden" name="accountType" value="user">
    <div class="field is-grouped">
      <button class="button is-link">Submit</button>
    </div>
  </form>
</section>
