<div class="columns">
    <div class="column is-1">
      <!-- Content for first column -->
    </div>
    <div class="column is-10">
      <!-- Content for second column -->      
      {{> add-club}}
    </div>
    <div class="column is-1">
      <!-- Content for third column -->
    </div>
  </div>