<div class="title p-3 is-flex">
  <a href="/" style="display: flex; align-items: center;">
    <i style="font-size: 48px; color: hsl(171, 100%, 41%);" class="fa-solid fa-map-location"></i>
    <div class="title brand-heading has-text-white is-uppercase is-2 ml-4">RugbyClubPOI</div>
  </a>
</div>