<nav class="navbar is-fixed-top has-shadow is-info px-6" style="z-index: 999999;">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"> <span aria-hidden="true"></span>
    <span aria-hidden="true"></span> <span aria-hidden="true"></span> </a>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button  button-font is-uppercase" href="/dashboard"> Dashboard <i class="fa-solid fa-gauge pl-2 fa-xl"></i></a> 
          <a id="clubs" class="button  button-font is-uppercase" href="/clubs"> Clubs <i class="fa-solid fa-location-dot pl-2 fa-xl"></i></a>
          <a id="profile" class="button  button-font is-uppercase" href="/profile"> Profile <i class="fa-solid fa-user pl-2 fa-xl"></i></a> 
          <a id="logout" class="button button-font is-uppercase is-danger" href="/logout"> Logout <i class="fa-solid fa-sign-out pl-2 fa-xl"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
  document.addEventListener("DOMContentLoaded", () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener("click", () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>
